*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    font-family: fantasy, sans-serif;
    background-color: #272939;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    
    background-color: #1D1E2C ;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    color: #55828B ;
    justify-content: center;
    align-items: center;
}
.input-container{
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;

}
#task-input{
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #0d323a;
    color: #E8F1F2 ;
}
#add-task-btn, #clear-tasks-btn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #55828B ;
    color: #E8F1F2 ;
    cursor: pointer;
    margin-left: 5px;
}

#add-task-btn:hover, #clear-tasks-btn:hover{
    background-color: #203135;
    color: #7fc7d6 ;
}
#task-list{
    list-style: none;
    width: 100%;
    
    padding: 10px;
    border-radius: 5px;
    color: #364958 ;
}
#task-list li {
    background-color: #f2f2f2;
    margin-top: 10px;
    padding: 12px;
    border-radius: 8px;
}